<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img class="img-fluid" width="50%" src="/assets/img/burger.jpeg" alt="burger" />
			<h1> Eat-DAT Burger!!! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				  <div class="row p-2">
				<div class="col-md-9 text-center">
					<div>{{this.id}}. {{this.burger_name}}
					</div>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}>
						<button type="submit" class="border-primary btn btn-default">Devour it!</button>
					</form>
				</div></div>
				{{/unless}}
			  {{/each}}
			
		</div>
		<div class="col-md-6 text-left" class="task">
			<h5 class="pl-5">Devoured Burgers:</h5>
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<div class="pl-5">{{this.burger_name}}</div>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="mt-3 form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary mt-2" id="text-enter-button">Submit</button>
			</form>
			<p class="pt-2">Enter a burger you want to eat and click the "Submit" button.</p>
		</div>
	</div>
</div>
